@font-face {
    font-family: righteous;
    src: url(font/Righteous-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(font/Roboto);
}
body {
    padding: 0;
    margin: 0;
    width: 1366px;
    height: 2235px;
}
.page-header {
    position: fixed;
    width: 1440px;
    height:116px;
    left: 0;
    top: 0;
    background-color: #C4C4C4;
}
.page-header h1 {
    position: absolute;
    width: 116px;
    height:30px;
    right: 1261px;
    top: 49px;
    margin: 0;
    padding: 0;

    font-family: righteous;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height:30px;
    letter-spacing: 0.03em;

    color: rgba(0, 0, 0, 0.9);

    mix-blend-mode: darken;
    border: 1px dashed rgba(230, 224, 224, 0.2);
    box-sizing: border-box;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}
#navbar ul{
    display:flex;
    flex-direction: row;
    width: 375px;
    height: 29px;
    margin: 57px 75px 0 0;
    float: right;
    list-style-type: none;

    font-family:robot;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;

    color: #000000;

    border: 1px dashed rgba(230, 224, 224, 0.2);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);

}
#navbar li {
    margin-left: 50px;
}
#navbar a {
    text-decoration: none;
    color: #000000;
}
#navbar a:hover {
    color: #494848;
    font-size: 21px;
}

h2 {
  text-align: center;  
}
.main {
    width: 1366px;
    height: 544px;
    margin-top: 116px;
    background: url(img/halacious-Pr578ZCufII-unsplash\ 1.png);
}
.heading {
   padding: 50px 0 0 40px;

   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size : 20px;
   line-height: 42px;
   letter-spacing: 0.05em;
   text-transform: capitalize;
   font-feature-settings: "pnum" on, "onum" on;

   color: #ffffff;
}
p {
    text-align: center;
}
.paragraph {
    padding: 25px 0 0 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    font-feature-settings: 'pnum' on, 'onum' on;

    color:#ffffff;
}




